body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
